/*Общие моменты для всех способов*/

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;

    font-family: Arial, Helvetica, sans-serif;

    margin: 0;
}

.menu {
    color: white;
    min-width: 250px;
    background-color: blueviolet;
}

.content {
    padding: 10px;
}

.wrap {
    height: 100%;
}





/*flex*/
/*
- Какие трудности возникали, при верстке каждым способом?
    Никаких, связанных с позиционированием
- Плюсы:
    легко и просто, весело, задорно
- Минусы:
    В данном примере их нет, а так очень смущает отсутствие вложенности
*/

.wrap {
    display: flex;
}






/*inline-block*/
/*
- Какие трудности возникали, при верстке каждым способом?
    Все поплыло, так как контент решил выравниться по базовой линии и пришлось обратиться к позиционированию 
    Заставить контент переносить себя было сложнее, чем думалось изначально 
    надо использовать относительное позиционирование для выравнивания контента
    Вообще не понял как сделать так, чтобы текст контента занимал всю оставшуюся ширину
    И еще с переносами беда
- Плюсы:
    В отличии от float не выпадает из контекста
- Минусы:
    Надо думать, оно просто так тебе 
    Использование позиционирования для выравнивания контента
    Ср***ые пробелы (но я их не убирал)
*/

/* .wrap {
    white-space: nowrap;
}

.menu {
    display: inline-block;
    height: 100%;
}

.content {
    display: inline-block;
    position: relative;
    bottom: 34px;

    white-space: normal;
} */






/*float*/
/*
- Какие трудности возникали, при верстке каждым способом?
    Отступы контента и вообще выравнивание
- Плюсы:
    В данном примере получилось обойтись без всех этих танцев с позиционированием
- Минусы:
    float-элементы выпадают из контекста
*/


/* .menu {
    float: left;
    height: 100%;
}

.content {
    margin-left: 260px;
    padding-top: 15px;
} */