* {
    box-sizing: border-box;
}

html, body, .wrap {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1px;
}

.wrap {
    display: grid;

    grid-template-areas: 
        "header header header header"
        "left center center right" 
        "footer footer footer footer";

    grid-template-rows: 50px 1fr 50px;

}

.left, .center, .right {
    border: 1px solid #f23D75;
}

.header {
    grid-area: header;

    border: 1px solid #f23D75;
}

.left {
    grid-area: left;
}

.center {
    grid-area: center;
}

.right {
    grid-area: right;
}

.footer {
    grid-area: footer;

    border: 1px solid #f23D75;
}